.map-page-container {
  display: flex;
  border-radius: 20rem;
}

.grid-map-table-container {
  flex: 1;
  margin-right: 2rem;
}

.map-component-container {
  flex: 1;
  
}

.map-wrapper {
  width: 40rem;
  height: 40rem;
  
}