.map-page-container {
  display: flex;
  border-radius: 20rem;
  width: 100%;
}

.grid-map-table-container {
  position: absolute;
  z-index: 1;
}

.map-component-container {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.map-wrapper {
  width: 100%;
  height: 85vh; 
}