body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 670px) {
  .sider{
    width: 86vw !important;
    min-width: none !important;
    max-width: none !important;
    flex: none !important;
  }
  .sider-non-active{
    display: none !important;
  }
  .hideContent{
    display: none !important;
  }

 }